body {background-color: darkgray;}

h1 {background-color: yellow;}

p.pierwszy{background-color: orange;}

h2 {background-color: red;}

p.drugi {background-color:  green;}

div {background-color: blue;}